.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttonA {
  background-color: #46139f;
  color: white;
}

.buttonA:hover {
  color: #46139f;
  background-color: white;
  border: 1px solid #46139f;
}

.buttonB {
  background-color: #ff7f50;
  color: white;
}

.btn-close-modal {
  background-color: white !important;
  color: #46139f !important;
  border: 1px solid #46139f !important;
}

.buttonB:hover {
  color: #ff7f50;
  background-color: white;
  border: 1px solid #ff7f50;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-lg{
  width: 15rem;
  height: 7rem;
  font-size: 1.5rem;
}

.modal-footer {
  justify-content: center;
}
